
<table>
<tr>
<td align="bottom">
[caption id="attachment_113" align="alignnone" width="100"]<img class="size-medium wp-image-113" src="http://localhost/new/wp-content/uploads/2016/03/img4-300x225.jpg" alt="" width="100" height="100" /> flower 1[/caption]
</td>
<td>
[caption id="attachment_112" align="aligncenter" width="100"]<img class="size-medium wp-image-112" src="http://localhost/new/wp-content/uploads/2016/03/img3-1-300x225.jpg" alt="OLYMPUS DIGITAL CAMERA" width="100" height="100" />flower 2[/caption]
</td>
<td>
[caption id="attachment_111" align="alignnone" width="100"]<img src="http://localhost/new/wp-content/uploads/2016/03/img2-1-300x225.jpg" alt="OLYMPUS DIGITAL CAMERA" width="300" height="225" class="size-medium wp-image-111" />flower 3 [/caption]
</td>
<td>
[caption id="attachment_110" align="alignnone" width="100"]<img src="http://localhost/new/wp-content/uploads/2016/03/img1-1-300x225.jpg" alt="OLYMPUS DIGITAL CAMERA" width="300" height="225" class="size-medium wp-image-110" /> flower 4[/caption]
</td>
<td>
<td>
[caption id="attachment_113" align="alignnone" width="100"]<img class="size-medium wp-image-113" src="http://localhost/new/wp-content/uploads/2016/03/img4-300x225.jpg" alt="" width="100" height="100" /> flower 5[/caption]
</td>
</tr>
</table>
